:root {
  --header-height: 60px;
  --bubble-color: #9edbff;
  --my-bubble-color: #3af849;
}

html {
  background: #e5e5e5;
}

body {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background: linear-gradient(
    0deg,
    rgb(191 246 255) 10.5%,
    rgb(230 255 247) 86.8%
  );
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--header-height));
  padding: 0 10px;
}
