@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");

.header {
  z-index: 1000;
  transition: all 0.3s ease-out;
}

.headerMain {
  display: flex;
  justify-content: space-evenly;
}

.navigationContainer {
  box-sizing: border-box;
  height: var(--header-height);
  padding: 8px 0 6px 0;
  background: linear-gradient(
    180deg,
    rgb(212 225 255) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.navigation {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px !important;
}

.logo {
  font-family: "Fontdiner Swanky", serif;
  font-family: "Modak", system-ui;
  font-family: "Michroma", sans-serif;
  font-family: "Holtwood One SC", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  font-weight: 400;
  color: #1d9bf8;
  text-shadow:
    2px 2px 1px #ffe6d4,
    3px 3px 0px rgb(86 49 0 / 34%);
}

.logoutButton {
  padding: 8px 0 6px 0;
  zoom: 1.2;
}
